.image-slider {
  max-width: calc(100vw - 17px);
  margin: auto;
  overflow: hidden;
  .image-item {
    aspect-ratio: 3/2;
    object-fit: cover;
  }

  img.image-item {
    max-width: 100vw;
    max-height: 100vh;
    width: auto;
    height: auto;
  }

  .slick-prev {
    left: 5% !important;
    z-index: 1;
  }
  .slick-next {
    right: 5% !important;
    z-index: 1;
  }

  .slick-arrow::before {
    font-size: 5dvh !important;
  }

  @media screen and (max-width: 500px) {
    .slick-arrow::before {
      font-size: 3dvh !important;
    }
  }
}
