.thank-you-wrapper {
  .title {
    font-size: 1.5vw;
  }
  background-color: #febe98;
  color: rgb(82, 42, 40);
  padding-bottom: 30px;
  padding-top: 30px;
  text-align: center;
}

@media screen and (max-width: 670px) {
  .thank-you-wrapper {
    .title {
      font-size: 3.5vw;
    }
  }
}
