.timer-left {
  bottom: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  position: absolute;
  .timer-block {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    width: 80px;
    font-size: 1.5rem;
  }

  .timer-block h2,
  .timer-block p {
    margin: 0px !important;
  }
}
