.welcome-page {
  height: 80dvh;
  width: 100%;
  .button-show,
  .button-hide {
    background: transparent;
    border: none;
  }
  .content {
    height: 80dvh;
    width: 100%;
    .header {
      align-items: center;
      display: flex;
      height: 10dvh;
      justify-content: center;

      ul.menu-list {
        display: flex; // Makes the list horizontal
        list-style-type: none; // Removes the bullets
        margin: 0;
        padding: 0;

        li {
          margin: 0px 10px; // Adds some space between the list items
          &.menu-item {
            color: white;
            cursor: pointer;
            text-decoration: none;
          }
        }
      }
    }

    .information-section {
      align-items: center;
      color: white;
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: center;
      position: relative;
      width: 100%;
      h1 {
        font-family: "DancingScript-Medium";
        font-size: 60px;
        margin: 0px;
      }
      #time-and-place {
        font-weight: bold;
        text-align: center;
      }
    }
  }
}

@media screen and (min-width: 670px) {
  .button-show,
  .button-hide {
    display: none;
  }
}

@media screen and (max-width: 670px) {
  .welcome-page {
    .content {
      .header {
        display: block;
        height: fit-content !important;
        position: absolute;
        right: 0;
        top: 0;
        width: 80%;
        z-index: 999;
        .button-hide {
          align-content: center;
          align-items: center;
          display: flex;
          justify-content: center;
          position: absolute;
          right: 20px;
          top: 20px;
        }
        ul.menu-list {
          display: block !important;
          height: fit-content !important;
          width: 100%;
          li {
            background-color: #8a6c6c;
            background-color: #febe98;
            color: rgb(82, 42, 40) !important;
            margin: 0 !important;
            padding-bottom: 6%;
            padding-left: 6%;
            padding-top: 6%;
          }
        }
        &.show-menu {
          transform: translateX(0%);
          transition: transform 0.5s ease-in-out;
        }
        &.hidden-menu {
          transform: translateX(120%);
          transition: transform 0.5s ease-in-out;
        }
      }
      .button-show {
        align-content: center;
        align-items: center;
        display: flex;
        justify-content: center;
        position: absolute;
        right: 20px;
        top: 20px;
        z-index: 1;
      }
      .information-section {
        h1 {
          font-size: 9vw;
        }
        #time-and-place {
          font-size: 3vw;
        }
      }
    }
  }
}
